* {
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

.topo {
    height: 100px;
    background-color: #2f86d6;
    padding: 35px 0px;
}

.img-logo{
    width: 70px;
}

.menu-topo {

}
