* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 120px;
    
}

header div h1 {
    font-size: 32px;
    color: #000000;
    justify-content: center;
}

header span {
    display: block;
    font-size: 16px;
    color: #2f86d6;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.menu-logo {
    width: 90px;
}

.logo-marca {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.menu-links {
    list-style: none;
    display: flex;
    text-align: center;
    gap: 1rem;
}

.menu-link {
    font-size: 18px;
    color: #233032;
    text-decoration: none;
}

.tabela {
    padding: 100px 0px;
}

.sub-tabela {
    width: 1024px;
}

.rodape {
    padding: 100px 0px;
}

.sub-rodape {
    width: 320px;
    display: flex;
}

.sub-rodape2 {
    padding: 20px 0px;
}

img {
    width: 150px;
}
