* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 120px;
    
}

header div h1 {
    font-size: 32px;
    color: #000000;
    justify-content: center;
}

header span {
    display: block;
    font-size: 16px;
    color: #2f86d6;
}

.menu {
    display: flex;
    margin: 0 auto;
}

.logo {
    width: 90px;
}

nav {
    text-align: right;
}

.menu-link {
    font-size: 18px;
    color: #233032;
    text-decoration: none;
}



.banner1 {
    background-color: #2f86d6;
    padding: 180px 0px;
    height: 200px;
}

.sub-banner1 {
    width: 1024px;
    display: flex;
}

.sub-banner1 img {
    width: 50%;
}

.sub-banner2 {
    width: 470px;
}

.sub-banner2 p {
    font-size: 16px;
    color: #fff;
}

.sub-banner2 h2 {
    font-size: 28px;
    color: #fff;
}

.anuncio1 {
    background-color: #233032;
    padding: 40px 0px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-anuncio1 {
    width: 1024px;
    display: flex;
}

.sub-anuncio1 a {
    font-size: 18px;
    color: #fff;
    background-color: #2f86d6;
    text-decoration: none;
}

.sub-anuncio1-2 {
    width: 600px;
}

.sub-anuncio1-2 h2 {
    font-size: 24px;
    color: #fff;
}

.sub-anuncio1-2 p {
    font-size: 16px;
    color: #fff;
}

.informacoes {
    background-color: #f6f6f6;
    padding: 100px 0px;
}

.sub-informacoes1 {
    width: 900px;
}

.sub-informacoes1 h2 {
    font-size: 32px;
    color: #000000;
}

.sub-informacoes1 span {
    font-size: 32px;
    color: #2f86d6;
}

.sub-informacoes2 {
    width: 1024px;
    display: flex;
}

.sub-informacoes2 h3 {
    font-size: 18px;
    color: #000000;
}

.sub-informacoes2 p {
    font-size: 16px;
    color: #000000;
}

.sub-informacoes2-1 {
    width: 33%;
}

.sub-informacoes2-2 {
    width: 33%;
}

.sub-informacoes2-3 {
    width: 33%;
}

.tabela {
    background-color: #a89f9f;
    padding: 100px 0px;
}

.sub-tabela {
    width: 1024px;
}

.sub-tabela h2 {
    font-size: 32px;
    color: #000000;
}

.sub-tabela span {
    font-size: 32px;
    color: #2f86d6;
}

.anuncio2 {
    background-color: #2f86d6;
    padding: 40px 0px;
    height: 40px;
}

.sub-anuncio2 {
    width: 1024px;
    display: flex;
}

.sub-anuncio2-2 {
    width: 600px;
}

img {
    width: 200px;
}

.rodape {
    padding: 100px 0px;
}

.sub-rodape {
    width: 320px;
    display: flex;
}

.sub-rodape1 {
    width: 900px;
}

.sub-rodape2 {
    padding: 20px 0px;
}