* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
    
}

.logo-marca h1 {
    font-size: 32px;
    color: #000000;
    justify-content: center;
}

.logo-marca span {
    display: block;
    font-size: 16px;
    color: #2f86d6;
}

.menu {
    display: flex;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    justify-content: space-between;
}

.img-logo {
    width: 90px;
}

.logo-marca {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.menu-links {
    list-style: none;
    display: flex;
    text-align: center;
    gap: 1rem;
}

.menu-link {
    font-size: 18px;
    color: #233032;
    text-decoration: none;
    font-weight: 600;
}




.banner {
    background-color: #2f86d6;
    padding: 90px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-banner {
    max-width: 1024px;
    display: flex;
    align-items: center;
    color: #fff;
}

.conteudo-banner img {
    width: 50%;
    margin: 0;
}

.texto-banner {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.texto-banner h2 {
    font-size: 28px;
}




.anuncio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #233032;
}

.conteudo-anuncio {
    max-width: 1024px;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.texto-anuncio {
    color: #fff;
    max-width: 600px;
}

.texto-anuncio h2 {
    font-size: 24px;
}

.link-anuncio a{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #2f86d6;
    text-decoration: none;
    border-radius: 5px;
    padding: 16px 13px;
    cursor: pointer;
    gap: 1rem;
}

.link-anuncio img {
    width: 18px;
}





.informacoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 100px 0px;
    flex-direction: column;
    gap: 1.5rem;
}

.titulo-informacoes {
    max-width: 900px;
    text-align: center;
}
.titulo-informacoes h2 {
    font-size: 32px;
    color: #000000;
}

.titulo-informacoes span {
    font-size: 32px;
    color: #2f86d6;
}

.conteudo-informacoes {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.conteudo-informacoes h3 {
    font-size: 18px;
    color: #000000;
}

.conteudo-informacoes p {
    font-size: 16px;
    color: #000000;
}

.especificacoes {
    max-width: 33%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.especificacoes img {
    width: 120px;
}





.planos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 100px 0px;
}

.tabela {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
}

.titulo-tabela h2 {
    font-size: 32px;
    color: #000000;
}

.titulo-tabela span {
    font-size: 32px;
    color: #2f86d6;
}





table {
    line-height: 3.5rem;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 20px 10px #2f86d6;
    border-radius: 5px;
}

thead {
    font-size: 18px
}

tbody:nth-child(2) {
    font-size: 13px;
    color: #a89f9f;
}

tbody img {
    width: 80px
}

tfoot {
    font-size: 16px;
    font-weight: 500;
}

tfoot tr:nth-child(odd) {
    background-color: #f6f6f6;
}

tfoot td{
    box-shadow: 0 0 1px 0 #a89f9f;
}







.anuncio2 {
    background-color: #2f86d6;
    padding: 40px 0px;
    height: 40px;
}

.sub-anuncio2 {
    width: 1024px;
    display: flex;
}

.sub-anuncio2-2 {
    width: 600px;
}

img {
    width: 200px;
}







.rodape {
    padding: 100px 0px;
}

.sub-rodape {
    width: 320px;
    display: flex;
}

.sub-rodape1 {
    width: 900px;
}

.sub-rodape2 {
    padding: 20px 0px;
}


