* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f86d6;
    padding: 35px 0;
}

.logo-marca h1 {
    font-size: 32px;
    color: #000000;
    justify-content: center;
}

.logo-marca span {
    display: block;
    font-size: 16px;
    color: #fff;
}

.menu {
    width: 100%;
    display: flex;
    max-width: 1024px;
    align-items: center;
    justify-content: space-between;
}

.img-logo {
    width: 90px;
}

.logo-marca {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.menu-links {
    list-style: none;
    display: flex;
    text-align: center;
    gap: 1rem;
}

.menu-link {
    font-size: 18px;
    color: #233032;
    text-decoration: none;
    font-weight: 600;
}






section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.tabela {
    max-width: 1024px;
    line-height: 3rem;
    text-align: center;
}

thead {
    background-color: #f6f6f6;
}

thead th {
    font-size: 16px;
    color: #a89f9f;
    font-weight: 200;
}

thead td {
    font-size: 32px;
    font-weight: 800;
}

tbody td, tfoot td {
    box-shadow: 0 0 1px 0 #a89f9f;
}

tbody td:nth-child(1) {
    background-color: #f6f6f6;
    text-align: left;
}

tbody .ponto::after {
    content: "++";
    font-size: 12px;
    background-color: #2f86d6;
    color: #2f86d6;
    border-radius: 50%;
}

thead td {
    padding: 6px;
}

tbody td {
    padding: 4px;
}

thead .branco {
    background-color: #fff;
}


tfoot td:nth-child(1) {
    background-color: #f6f6f6;
    text-align: left;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 50px;
    background-color: #2f86d6;
}


.dev {
    width: 100%;
    text-align: center;
    background-color: #f1f3f7;
    padding: 20px 0px;
    font-weight: 600;
}

.dev span {
    font-weight: 600;
    color: #2f86d6;
}
